<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Introduce Bali Waffle | Best Waffle Cafe Ever in Bali</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3">
        <div class="container">
          <a class="navbar-brand brand" href="#">Bali Waffle</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse nav-list" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active px-3 rounded-pill" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link px-3 rounded-pill" href="#">Menus</a>
              </li>
              <li class="nav-item">
                <a class="nav-link px-3 rounded-pill" href="#">Contact</a>
              </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link nav-icon-fb px-3 rounded-pill" aria-current="page" href="#"><i class="bi bi-facebook"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-icon-tw px-3 rounded-pill" href="#"><i class="bi bi-twitter"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-icon-ig px-3 rounded-pill" href="#"><i class="bi bi-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="bg-dark jumbotron text-white p-5">
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-lg-6">
              <div class="jumbotron-intro">
                <h1 class="mb-4">Start your day at <br><span>Bali Waffle</span></h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae optio dolorem accusantium consequuntur. Harum quasi recusandae suscipit, dolores esse voluptates ipsa odio odit eius officia doloremque voluptatum sapiente optio praesentium!</p>
              </div>
            </div>
            <div class="col-lg-5">
              <img class="jumbotron-img" src="waffle.png" alt="sugar strawberry waffle">
            </div>
          </div>
        </div>
        <div class="bg-dark text-light about-section text-center py-5 mt-5">
          <div class="container">
            <h1>Best in Bali</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla nesciunt, quo reprehenderit nam veniam ex temporibus impedit a provident voluptatem, odio illum id libero dolor, animi hic recusandae architecto dolorum suscipit doloremque rerum eveniet commodi assumenda quis? Iusto, nisi et!</p>
          </div>
        </div>
        <div class="bg-light text-dark sp-menu-section text-center py-5 mt-5">
          <div class="menu-container">
            <h1 class="mb-4 mx-2">Special Breakfast for you</h1>
            <div class="card-group">
              <div class="card mb-5">
                <img src="waffle-1.png" class="card-img-top card-img mx-auto">
                <div class="card-body">
                  <h5 class="card-title">Matcha Azuki Waffle</h5>
                  <p class="card-text">Matcha Waffles and Matcha Ice Cream topped with Adzuki beans and Strawberry slices.</p>
                </div>
              </div>
              <div class="card mb-5">
                <img src="waffle-2.png" class="card-img-top card-img mx-auto">
                <div class="card-body">
                  <h5 class="card-title">Banana Nutella Waffle</h5>
                  <p class="card-text">Waffles with Premium Chocolate Hazelnut Spread, Topped with Slices of Banana and Strawberries.</p>
                </div>
              </div>
              <div class="card mb-5">
                <img src="waffle-3.png" class="card-img-top card-img mx-auto">
                <div class="card-body">
                  <h5 class="card-title">Banana Split Waffle</h5>
                  <p class="card-text">Waffles with Ice Cream Slices, Banana and Strawberries, Mixed Berries and Chocolate and Peanut Sauce.</p>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-outline-danger button">See more...</button>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="container">
        <div class="row text-center p-5">
          <div class="col-12 col-md-4">
            <h1>Address</h1>
            <p>Jalan Raya Puputan no 80, Renon, Denpasar, Bali 80234​</p>
          </div>
          <div class="col-12 col-md-4">
            <h1>Contact</h1>
            <p>natura538@gmail.com<br>
              +62 83115155885<br>
              Visit how this page is made <a href="https://github.com/NaturaAdnyana/NaturaAdnyana-BaliWaffleHomepage-PracticingBootstrapAndSass">here.</a> 
            </p>
          </div>
          <div class="col-12 col-md-4">
            <h1>Opening Hours</h1>
            <p>Sunday<br>
              8AM - 9PM<br>
              <br>              
              Monday - Saturday<br>
              8AM - 11PM</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>